# ===============================
# JetBrains / WebStorm
# ===============================
.idea/
*.iml

# WebStorm temp & backup files
*~
__jb_tmp__/
__jb_old__/

# Vim / swap / temp (just in case)
*.swp
*.swo

# OS junk
.DS_Store
Thumbs.db