:root {
    --white: #ffffff;
    --light-gray: #666;
    --dark-gray: #333333;
    --primary-color: #0a66c2;
    --secondary-color: #004182;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar {
    background-color: #0a66c2;
    padding: 0.8rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Segoe UI', sans-serif;
    color: var(--white);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: sticky;
}
.logo {
    font-family: Poppins, sans-serif;
    font-size: 40px;
    font-weight: 800;
    color: var(--white);
    text-decoration: none;
    letter-spacing: -0.5px;
}
.nav-content {
    display: flex;
    align-items: center;
    gap: 30px;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
}
.nav-links a {
    color: var(--white);
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
}
.nav-links a:hover {
    text-decoration: underline;
}
.search-icon {
    width: 18px;
    height: 18px;
    stroke: var(--light-gray);
    margin-right: 8px;
}
.search-bar {
    background-color: var(--white);
    padding: 8px 15px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    width: 250px;
    height: 30px;
}
.search-bar input {
    border: none;
    outline: none;
    font-size: 17px;
    color: #333;
}
.search-bar input::placeholder {
    color: #999;
}
.auth-buttons {
    display: flex;
    gap: 10px;
}
.btn {
    text-decoration: none;
    padding: 8px 20px;
    border-radius: 6px;
    font-weight: 700;
    transition: transform 0.1s;
    font-family: Poppins, sans-serif;
    font-size: 20px;
}
.btn-login {
    background-color: var(--white);
    color: var(--primary-color);
    border: 1px solid var(--white);
}
.btn-signup {
    background-color: transparent;
    color: var(--white);
    border: 2px solid var(--white);
}
.btn:hover {
    transform: translateY(-1px);
}