
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Hired{% endblock %}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
   
                 <nav class="navbar">
        <a class="logo" href="/">Hired</a>

        <div class="nav-content">
            
            <ul class="nav-links">
                <li><a href="/jobs">Browse Jobs</a></li>
                <li><a href="/about">About</a></li>
            </ul>

            <div class="search-bar">
                <svg class="search-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <circle cx="11" cy="11" r="8"></circle>
                    <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                </svg>
                <input type="text" placeholder="Search about your Job">
            </div>

            <div class="auth-buttons">
                <a href="/login" class="btn btn-login">Login</a>
                <a href="/signup" class="btn btn-signup">Sign Up</a>
            </div>
        </div>
    </nav>

       <div class="page">
         <div class="BrowseJops">

             <div class="container">
            
            <div class="jobs-grid">
                <div class="job-card">
                    <h3 class="job-title">Software Engineer</h3>
                    <div class="job-details">
                        <p>Company: <span class="highlight-red">Fawry</span></p>
                        <p>Location : <span class="highlight-red">Smart Village</span></p>
                        <p>Experience : <span class="highlight-red">0-5 Years</span></p>
                        <p>Salary : <span class="highlight-red">Negotiable</span></p>
                    </div>
                    <div class="card-actions">
                        <button class="btn btn-card-details">View Details</button>
                        <button class="btn btn-card-apply">Apply Now</button>
                    </div>
                </div>
                <div class="job-card">
                    <h3 class="job-title">Data Analyst</h3>
                    <div class="job-details">
                        <p>Company: <span class="highlight-red">Siemens</span></p>
                        <p>Location : <span class="highlight-red">Nasr City</span></p>
                        <p>Experience : <span class="highlight-red">1-3 Years</span></p>
                        <p>Salary : <span class="highlight-red">Negotiable</span></p>
                    </div>
                    <div class="card-actions">
                        <button class="btn btn-card-details">View Details</button>
                        <button class="btn btn-card-apply">Apply Now</button>
                    </div>
                </div>
                <div class="job-card">
                    <h3 class="job-title">Marketing Specialist</h3>
                    <div class="job-details">
                        <p>Company: <span class="highlight-red">Vodafone</span></p>
                        <p>Location : <span class="highlight-red">6th of October</span></p>
                        <p>Experience : <span class="highlight-red">2-4 Years</span></p>
                        <p>Salary : <span class="highlight-red">Negotiable</span></p>
                    </div>
                    <div class="card-actions">
                        <button class="btn btn-card-details">View Details</button>
                        <button class="btn btn-card-apply">Apply Now</button>
                    </div>
                </div>
                <div class="job-card">
                    <h3 class="job-title">UI/UX Designer</h3>
                    <div class="job-details">
                        <p>Company: <span class="highlight-red">Orange</span></p>
                        <p>Location : <span class="highlight-red">Maadi</span></p>
                        <p>Experience : <span class="highlight-red">1-2 Years</span></p>
                        <p>Salary : <span class="highlight-red">Negotiable</span></p>
                    </div>
                    <div class="card-actions">
                        <button class="btn btn-card-details">View Details</button>
                        <button class="btn btn-card-apply">Apply Now</button>
                    </div>
                </div>
                <div class="job-card">
                    <h3 class="job-title">Project Manager</h3>
                    <div class="job-details">
                        <p>Company: <span class="highlight-red">IBM</span></p>
                        <p>Location : <span class="highlight-red">Heliopolis</span></p>
                        <p>Experience : <span class="highlight-red">3-6 Years</span></p>
                        <p>Salary : <span class="highlight-red">Negotiable</span></p>
                    </div>
                    <div class="card-actions">
                        <button class="btn btn-card-details">View Details</button>
                        <button class="btn btn-card-apply">Apply Now</button>
                    </div>
                </div>
                <div class="job-card">
                    <h3 class="job-title">Content Writer</h3>
                    <div class="job-details">
                        <p>Company: <span class="highlight-red">Microsoft</span></p>
                        <p>Location : <span class="highlight-red">Downtown Cairo</span></p>
                        <p>Experience : <span class="highlight-red">0-2 Years</span></p>
                        <p>Salary : <span class="highlight-red">Negotiable</span></p>
                    </div>
                    <div class="card-actions">
                        <button class="btn btn-card-details">View Details</button>
                        <button class="btn btn-card-apply">Apply Now</button>
                    </div>
                </div>
                <div class="job-card">
                    <h3 class="job-title">Cashier</h3>
                    <div class="job-details">
                        <p>Company: <span class="highlight-red">Monginis</span></p>
                        <p>Location : <span class="highlight-red">Zagazig</span></p>
                        <p>Experience : <span class="highlight-red">Not Required</span></p>
                        <p>Salary : <span class="highlight-red">3k - 5k / month</span></p>
                    </div>
                    <div class="card-actions">
                        <button class="btn btn-card-details">View Details</button>
                        <button class="btn btn-card-apply">Apply Now</button>
                    </div>
                </div>
                <div class="job-card">
                    <h3 class="job-title">Sales Associate</h3>
                    <div class="job-details">
                        <p>Company: <span class="highlight-red">Town Team</span></p>
                        <p>Location : <span class="highlight-red">Banha</span></p>
                        <p>Experience : <span class="highlight-red">1-3 Years</span></p>
                        <p>Salary : <span class="highlight-red">5k - 8k / month</span></p>
                    </div>
                    <div class="card-actions">
                        <button class="btn btn-card-details">View Details</button>
                        <button class="btn btn-card-apply">Apply Now</button>
                    </div>
                </div>
            </div>
        </div>        
       </div>
       <!-- Filters Sidebar -->
<div class="filters">
    <h3>Filters</h3>

    
    <div class="filter-group">
        <label>WorkPlace</label>
        <div class="checkbox-group">
            <label for="On-site"><input id ="On-site" type="checkbox"> On-site</label>
            <label for="Hyprid"><input id="Hyprid" type="checkbox"> Hyprid</label>
            <label for="Remote"><input id=""Remote"" type="checkbox"> Remote</label>
            
        </div>

    <div class="filter-group">
        <label>City</label>
        <div class="checkbox-group">
            <label for="cairo"><input id ="cairo" type="checkbox"> Cairo</label>
            <label for="Giza"><input id="Giza" type="checkbox"> Giza</label>
            <label for="Alexandria"><input id=""Alexandria"" type="checkbox"> Alexandria</label>
            <label for="Mansoura"><input id="Mansoura" type="checkbox"> Mansoura</label>
        </div>
    </div>

    <div class="filter-group">
        <label>Job Category</label>
        <div class="checkbox-group">
            <label><input type="checkbox"> Accounting</label>
            <label><input type="checkbox"> Sales</label>
            <label><input type="checkbox"> IT</label>
            <label><input type="checkbox"> Marketing</label>
        </div>
    </div>

    <div class="filter-group">
        <label>Company</label>
        <div class="checkbox-group">
            <label><input type="checkbox"> Vodafone</label>
            <label><input type="checkbox"> Etisalat</label>
            <label><input type="checkbox"> Orange</label>
            <label><input type="checkbox"> Nestle</label>
        </div>
    </div>

    <div class="filter-group">
        <label>Salary</label>
        <select>
            <option>5K - 8K</option>
            <option>8K - 12K</option>
            <option>12K - 20K</option>
        </select>
    </div>
</div>


            <div class="view-all-container">
        </div>        
       